# Deshabilitando listado de directorios FTP
Options -Indexes

# Mensajes de error personalizados
ErrorDocument 400 /errorpages/400.php
ErrorDocument 404 /errorpages/404.php
ErrorDocument 403 /errorpages/403.php
ErrorDocument 410 /errorpages/410.php
ErrorDocument 500 /errorpages/500.php
ErrorDocument 503 /errorpages/503.php

RewriteEngine on
# RewriteRule .*\.(js)$ - [F]

#URLs amigables
RewriteRule ^contacto$ contacto.php
RewriteRule ^sobre-nosotros$ sobre_nosotros.php
RewriteRule ^galeria/([^/]+)/?$ galeria.php?category=$1 [L,QSA]
RewriteRule ^galeria/([^/]+)/([1-9]+)/?$ galeria.php?category=$1&page=$2 [L,QSA]
RewriteRule ^galeria$ galeria.php
RewriteRule ^politica-privacidad$ privacidad.php
RewriteRule ^aviso-legal$ legal.php
RewriteRule ^login$ login.php


RewriteRule ^404$ errorpages/404.php
RewriteRule ^403$ errorpages/403.php
RewriteRule ^503$ errorpages/503.php

<IfModule mod_expires.c>
  ExpiresActive On

 # Images
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/webp "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 1 year"
  ExpiresByType image/x-icon "access plus 1 year"

  # Video
  ExpiresByType video/webm "access plus 1 year"
  ExpiresByType video/mp4 "access plus 1 year"
  ExpiresByType video/mpeg "access plus 1 year"

  # Fonts
  ExpiresByType font/ttf "access plus 1 year"
  ExpiresByType font/otf "access plus 1 year"
  ExpiresByType font/woff "access plus 1 year"
  ExpiresByType font/woff2 "access plus 1 year"
  ExpiresByType application/font-woff "access plus 1 year"

  # CSS, JavaScript
  ExpiresByType text/css "access plus 1 year"
  ExpiresByType text/javascript "access plus 1 year"
  ExpiresByType application/javascript "access plus 1 year"

  # Others
  ExpiresByType application/pdf "access plus 1 year"
  ExpiresByType image/vnd.microsoft.icon "access plus 1 year"
</IfModule>