# Deshabilitando listado de directorios FTP
Options -Indexes

# Mensajes de error personalizados
ErrorDocument 400 /errorpages/400.php
ErrorDocument 404 /errorpages/404.php
ErrorDocument 403 /errorpages/403.php
ErrorDocument 410 /errorpages/410.php
ErrorDocument 500 /errorpages/500.php
ErrorDocument 503 /errorpages/503.php

# Prevenir hotlinking
# RewriteEngine on 
# RewriteCond %{HTTP_REFERER} !^$
# RewriteCond %{HTTP_REFERER} !^http://vigalartesana.es/.*$ [NC] [OR]
# RewriteCond %{HTTP_REFERER} !^http://www.vigalartesana.es/.*$ [NC] [OR]
# RewriteRule .*\.(png|PNG|jpg|JPG|jpeg|JPEG)$ - [F]

# Activar HTTPS
RewriteEngine On
RewriteCond %{Server_Port} !=443
RewriteRule ^(.*)$ https:// vigalartesana.es/$1 [R=301,L]

#URLs amigables
RewriteRule ^contacto$ /contacto.php
RewriteRule ^sobre-nosotros$ /sobre_nosotros.php
RewriteRule ^galeria/([^/]+)/?$ galeria.php?category=$1 [L,QSA]
RewriteRule ^galeria/([^/]+)/([1-9]+)/?$ galeria.php?category=$1&page=$2 [L,QSA]
RewriteRule ^galeria$ /galeria.php
RewriteRule ^politica-privacidad$ /privacidad.php
RewriteRule ^aviso-legal$ /legal.php
RewriteRule ^mantenimiento$ /mantenimiento.php
RewriteRule ^login$ /login.php

RewriteRule ^404$ /errorpages/404.php
RewriteRule ^403$ /errorpages/403.php
RewriteRule ^503$ /errorpages/503.php